<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>JWT Security Example</title>
</head>
<body>
	<div th:if="${param.error}">Invalid username and password.</div>
	<div th:if="${param.logout}">You have been logged out.</div>
	<form th:action="@{/login}" method="post">
		<div>
			<label> User Name : <input type="text" name="username" value="shahram" />
			</label>
		</div>
		<div>
			<label> JWT Token: <textarea name="jwt-token">eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJzaGFocmFtIiwicm9sZXMiOiJ1c2VyIiwiaWF0IjoxNTEzMjQyMTE2LCJleHAiOjE1MTQ3MTMzNDV9.biMqf1QxeP-UcoTq0wXKYg9d4zi0-B7yofxKrPt1iss</textarea>
			</label>
		</div>
		<div>
			<input type="submit" value="Sign In" />
		</div>
	</form>
</body>
</html>